@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sixtyfour&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}
.pd-top-5 {
  /* Opcao 1: usar position relative */
  /* position: relative; */
  /* top: 3px; */
  /* left: 2px; */
  /* Opcao 2: usar padding */
  padding-top: 5px;
  /* Lembrando que isso tudo funciona pq image esta com display block */
}
.pd-top-4 {
  padding-top: 4px;
  font-weight: bold;
}
.pd-left-2 {
  padding-left: 2px;
}
.pd-right-2 {
  padding-right: 2px;
}
.pd-left-3 {
  padding-left: 3px;
}
.sz10 {
  font-size: 11px;
}
.family-mono {
  font-family: monospace;
}
.cl-black {
  color: black;
}
